<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="../static/echarts.js"></script>
    <script type="text/javascript" src="../static/jquery-3.2.1.min.js"></script>
</head>
<body>
<!--<h4 th:text="${activeUser.user.username}"></h4>-->

<h4>首页</h4>
<!--<br/>-->

<!--<form action="/user/addPermissions" method="post">-->
<!--您的权限<br /><br />-->
<!--<label><input name="permission" type="checkbox" value="add" />苹果 </label>-->
<!--<label><input name="permission" type="checkbox" value="edit" />桃子 </label>-->
<!--<label><input name="permission" type="checkbox" value="delete" />香蕉 </label>-->
<!--<label><input name="permission" type="checkbox" value="" />梨 </label>-->
<!--<input type="submit" value="提交"/>-->
<!--</form>-->


<!--<form enctype="multipart/form-data" method="post" action="/user/testuploadimg">-->
<!--图片<input type="file" name="file"/><br/>-->
<!--<input type="text" name="username"/>-->
<!--<input type="submit" value="上传"/>-->
<!--</form>-->


<!--<br/>-->


<!--<br/>-->

<!--<a href="/logout">退出登录</a>-->

<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例

    <![CDATA[

    var myChart = echarts.init(document.getElementById('main'));
    var data1 = [];
    var data2 = [];
    var data3 = [];

    var random = function (max) {
        return (Math.random() * max).toFixed(3);
    };

    for(var i=0; i<500; i++) {
        data1.push([random(15), random(10), random(1)]);
        data2.push([random(10), random(10), random(1)]);
        data3.push([random(15), random(10), random(1)]);
    };

    option = {
        animation: false,
        legend: {
            data: ['scatter', 'scatter2', 'scatter3']
        },
        tooltip: {
        },
        xAxis: {
            type: 'value',
            min: 'dataMin',
            max: 'dataMax',
            splitLine: {
                show: true
            }
        },
        yAxis: {
            type: 'value',
            min: 'dataMin',
            max: 'dataMax',
            splitLine: {
                show: true
            }
        },
        dataZoom: [
            {
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 1,
                end: 35
            },
            {
                type: 'slider',
                show: true,
                yAxisIndex: [0],
                left: '93%',
                start: 29,
                end: 36
            },
            {
                type: 'inside',
                xAxisIndex: [0],
                start: 1,
                end: 35
            },
            {
                type: 'inside',
                yAxisIndex: [0],
                start: 29,
                end: 36
            }
        ],
        series: [
            {
                name: 'scatter',
                type: 'scatter',
                itemStyle: {
                    normal: {
                        opacity: 0.8
                    }
                },
                symbolSize: function (val) {
                    return val[2] * 40;
                },
                data: data1
            },
            {
                name: 'scatter2',
                type: 'scatter',
                itemStyle: {
                    normal: {
                        opacity: 0.8
                    }
                },
                symbolSize: function (val) {
                    return val[2] * 40;
                },
                data: data2
            },
            {
                name: 'scatter3',
                type: 'scatter',
                itemStyle: {
                    normal: {
                        opacity: 0.8,
                    }
                },
                symbolSize: function (val) {
                    return val[2] * 40;
                },
                data: data3
            }
        ]
    }
    myChart.setOption(option);

    ]]>

</script>
</body>
</html>